@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

* {
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: linear-gradient(45deg, #0a3d62, #38ada9);
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

#TA {
  display: grid;
  grid-template-rows: 30cqh 60cqh;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  width: 90%;
  height: 100%;
}

#TA #about {
  text-align: center;
  line-height: 1.2;
}

#TA #keyboard {
  display: grid;
  grid-template-rows: repeat(5, 5fr);
  grid-template-columns: repeat(16, 16fr);
  border-radius: 10px;
  border: 2px solid rgba(230, 230, 230, 0.3);
  padding: 1%;
  box-shadow: -4px -4px 18px rgba(255, 255, 255, 0.8), 4px 4px 22px rgba(0, 0, 0, 0.3), 0px 0px 18px rgba(150, 150, 150, 0.15) inset;
}

#TA #keyboard .key {
  transition: background-color 0.2s ease-out, border 0.2s ease-out;
  background: rgba(10, 61, 98, 0.3);
  color: #ffffff;
}

#TA #keyboard .key-sm, #TA #keyboard .key-md, #TA #keyboard .key-lg, #TA #keyboard .key-xlg {
  grid-row: span 1;
}

#TA #keyboard .key-sm {
  grid-column: span 2;
}

#TA #keyboard .key-md {
  grid-column: span 3;
}

#TA #keyboard .key-lg {
  grid-column: span 4;
}

#TA #keyboard .key-xlg {
  grid-column: span 6;
}

#TA #keyboard #arrows {
  width: 100%;
  grid-column: span 3;
  display: grid;
  grid-template-rows: repeat(2, 2fr);
  grid-template-columns: repeat(3, 3fr);
}

#TA #keyboard #arrows .left, #TA #keyboard #arrows .down, #TA #keyboard #arrows .right {
  grid-row: 2;
}

#TA #keyboard #arrows .left {
  grid-column: 1;
}

#TA #keyboard #arrows .down {
  grid-column: 2;
}

#TA #keyboard #arrows .right {
  grid-column: 3;
}

#TA #keyboard #arrows .up {
  grid-column: 2;
  grid-row: 1;
}

#TA button {
  font-family: 'Roboto Mono', monospace;
  backdrop-filter: blur(30px);
  border: 0;
  margin: 5px;
  border-radius: 10px;
  background: rgba(10, 61, 98, 0.3);
  box-shadow: 5px 5px 6px rgba(10, 61, 98, 0.4), -4px -4px 6px rgba(255, 255, 255, 0.4);
  color: #ffffff;
  font-size: 1.8ch;
  -webkit-background-clip: text;
  background-clip: text;
}

#TA button.active {
  border: 3px solid #38ada9; /* Cyan border when active */
  background: rgba(56, 173, 169, 0.5);
}

kbd {
  background-color: rgba(10, 61, 98, 0.6);
  border-radius: 2px;
  padding: 3px;
  color: #fff;
}
